body{
	width: 480px;
	margin: 0px auto;
}
header{
	height: 200px;
	width: 480px;
	border: 1px solid black;
}
#logo{
	width: 480px;
	height: 66px;
	border: 1px solid black;
	text-align: center;	
}
#slogan{
	width: 480px;
	height: 66px;
	text-align: center;
	border: 1px solid black;
}
#lider{
	width: 480px;
	height: 66px;
	border: 1px solid black;
	text-align: center;
}
section{
	height: 400px;
	width: 480px;
	border: 1px solid black;
}
#news1{
	height: 97px;
	width: 480px;
	border: 1px solid black;
	text-align: center;
}
#news2{
	height: 97px;
	width:480px;
	border:1px solid black;
	text-align: center;
}
#ads1{
	width: 480 	px;
	height: 98px;
	border: 1px solid black;
	text-align: center;
}
#content{
	height: 198px;
	width: 480px;
	border: 1px solid black;
	text-align: center;
}
footer{
	height: 50px;
	width: 480px;
	border: 1px solid black;
}
#footer1{
	height: 48px;
	width:480px;
	border:1px solid black;
	text-align: center;
}
#footer2{
	height: 48px;
	width:480px;
	border:1px solid black;
	text-align: center;
}
